APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:t9rgUlhCOmSvXUFKzxHQqGub+wGRq1h2fggrp1xwdgE=
APP_DEBUG=true
APP_URL=http://hoofbarter.com
MIX_API_URL=http://hoofbarter.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_hoofbarter
DB_USERNAME=padmin
DB_PASSWORD=U4+c4WZkZrNo1ECh

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
SENDGRID_API_KEY='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'
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=lanacsllc@gmail.com
MAIL_PASSWORD=Hoofbarter2020
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@hoofbarter.com
MAIL_FROM_NAME="Hoofbarter"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_KEY=pk_test_Gy7FABmD5FKjMt8e9VG39k1500C9V9B972
STRIPE_SECRET=sk_test_MRQUYBdJFd57vKNIaww2zlwW00YS4G9tBB
CASHIER_LOGGER=stack
